[package]
name = "wt_custom_lang"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eframe = "0.16.0"
serde = { version = "1.0.133", features = ["derive"] }
csv = "1.1.6"